body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212020;
}

.container {
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* New styles for the header actions */
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
}

.search-bar input[type="search"] {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.header {
  background-color: #62258d;
  color: white;
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}
.contact-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-details {
  flex-basis: 70%;
}
.contact-actions {
  flex-basis: 30%;
  text-align: right;
}
.contact-actions button {
  margin-left: 10px;
}

.add-button{
  padding: 10px 20px;
  background-color: #62258d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Ensure consistency for all buttons, adjusting .button-primary if needed */
.submit-button, .cancel-button, .add-button {
  display: inline-block; /* Aligns button styling with your setup */
  text-align: center; /* Centers the button text */
  width: auto; /* Allows button width to fit its content */
  margin-top: 10px; /* Adds space above the button, separating it from form elements */
  padding: 10px 20px;
  background-color: #62258d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-secondary {
  padding: 10px 20px;
  background-color: #ecf0f1;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.no-contacts {
  text-align: center;
  padding: 20px;
}
.not-found {
  text-align: center;
  font-size: 22px;
  padding: 20px;
}


/* Ensure form inputs match the style of your search bar */
form input[type="text"],
form input[type="email"],
form input[type="phone"],
form select {
  padding: 10px;
  width: 100%; /* Makes input fields take full width of the form */
  margin-bottom: 10px; /* Adds some space between the form elements */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

form input.error {
  border: 2px solid red;
}

form p.error-message {
  margin-top: 10px;
  font-size: 10px;
  color: red
}

/* Style for checkboxes - assuming your tags will use checkboxes */
form input[type="checkbox"] {
  margin-right: 5px;
}

/* Labels for checkboxes to ensure they match the page's styling */
form label {
  display: block; /* Makes each label+checkbox appear on a new line */
  margin-bottom: 5px; /* Adds some space between each label+checkbox */
  color: #333; /* Ensures text color matches your overall design */
  cursor: pointer; /* Indicates that the label is clickable */
}

/* Adjusting fieldset and legend for a cohesive look */
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; /* Adds space between this and next form element */
}

#tags_container {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}

legend {
  color: #333; /* Text color for the legend */
  padding: 0 10px; /* Adds some padding around the text */
  width: auto; /* Allows the legend to fit the content's size */
}

footer {
  color: white
}